@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #401D10, #734124);
}

main{
    margin: auto;
    background-color: white;
    width: 500px;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 5px 5px 15px #8F9BA6;
}

h1{
    text-align: center;
    color: #A68863;
    text-shadow: 2px 2px 3px #56463374;
}

h2{
    color: #434e58;
}

p{
    text-align: justify;
}